$enable-gradients: true;

// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$dark: #111;

$border-radius: 0;

$g-sm: 576px !default; // Small devices (landscape phones, >=576 & <=767)
$g-md: 768px !default; // Medium devices (tablets, >=768 & <=991)
$g-lg: 992px !default; // Large devices (desktops, >=992 & <=1199)
$g-xl: 1200px !default; // Extra large devices (large desktops, >=1200)

$header-height: 300px;
$chart-height: 350px;