// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

#video-header {
  .video-cover {
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: .5;
  }

  .card-img-overlay {

  }

  div:first-child {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  div:last-child {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}

.vue-highcharts {
  width: 100%;
  display: inline-block;
  margin: 2em auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
  padding: 1.5em 0em;
  background: #fff;
}