// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

#video-header {
  .video-cover {
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: .2;
  }
}

.comments {
  .comment {
    background: #fff;
    padding: 20px;

    &.comment-normal {}

    &.comment-bot {
      background: $red;
      color: $white;
    }

    &.comment-reported {
      background: $yellow;
    }
  }
}

#author-header {
  &.author-type-normal {
    background: $gray-900;
  }

  &.author-type-bot {
    background: $danger;
  }

  &.author-type-reported {
    background: $purple;
  }
}