// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "mixins";
@import "globals";


.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

#video-header,
#channel-header,
#comment-header {
  .cover {
    min-height: $header-height;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: .4;
  }

  .card-img-overlay {
    padding: 40px;
  }
}

.comments {
  .comment {
    background: #fff;
    padding: 20px;

    &.comment-normal {
    }

    &.comment-bot {
      background: $red;
      color: $white;
    }

    &.comment-reported {
      background: $yellow;
    }
  }
}

#channel-header {
  &.channel-type-normal {
    background: $gray-900;
  }

  &.channel-type-bot {
    background: $danger;
  }

  &.channel-type-reported {
    background: $purple;
  }
}

.video-chart,
.comment-chart {
  height: $chart-height;
}