.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.box-shadow-v1 {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.box-shadow-v2 {
  box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.2);
}

.box-shadow-v3 {
  box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.2);
}